<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>

<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Order Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td>
            <a th:href="@{/orders/{id}(id=${order.id})}">View</a>
            <a th:href="@{/orders/delete/{id}(id=${order.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/orders/create">Create New Order</a>
</body>
</html>
